@model List<ES2_Gestao_Eventos.Database.Entities.Bilhete>

@{
    ViewData["Title"] = "Listar Bilhete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bilhetes</h1>

<p>
     <a asp-action="CriarBilhetes">Criar um Bilhete</a> 
</p>
<table class="table">
    <thead>
    <tr>
        <th>Nome do Evento</th>
        <th>Tipo de Bilhetes</th>
        <th>Preço</th>
        <th>Número de Bilhetes Disponibilizados</th>
        <th>Número de Bilhetes Ainda Disponíveis</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.IdEventoNavigation.Nome)</td>
            <td>@Html.DisplayFor(modelItem => item.IdTipoBilhetesNavigation.Nome)</td>
            <td>@Html.DisplayFor(modelItem => item.Precototal) €</td>
            <td>@Html.DisplayFor(modelItem => item.Numbilhetes) bilhetes</td>
            <td>@Html.DisplayFor(modelItem => item.bilhetesdisp) bilhetes</td>
        </tr>
    }
    </tbody>
</table>
<div>
    <a asp-controller="Eventos" asp-action="ListarEventos">Listar Eventos</a>
</div>